							<center><p><a onclick="$('#call_settings').slideToggle('slow');" href="javascript://">Настройки звонков</a></p></center>
								<div id="call_settings" style="display:none">
									<div class="form-group">
										<label for="call_rule" class="col-sm-5 control-label">Оповещать звонком</label>
										<div class="col-sm-7">
											<input type="radio" name="call_rule" id="call_on" value="1">Да
   											<input type="radio" name="call_rule" id="call_off" checked value="0">Нет<Br>
										</div>
									</div>
									<div id="call_set"></div><div id="time_once_call" class="time_once_call"></div>
								</div>

						<script>
							call_on.onfocus = function() {
				  				if (this.value == 1) { 
				  					this.className = "call_set";
				  					call_set.innerHTML = '<div class="form-group"><label for="call_style" class="col-sm-5 control-label">Стиль разговора:</label><div class="col-sm-7"><select name="call_style" id="call_style"><option value="1" selected>Обычный</option><option value="2">Дружелюбный</option><option value="3">Суровый</option><option value="4">Неприятный</option></select></div></div><div class="form-group"><label for="call_once" class="col-sm-5 control-label">Напомнить за:</label><div class="col-sm-7"><select name="call_once" id="call_once"><option  value="0" selected>Нет</option><option value="1">за 1 час</option><option value="2">за 2 часа</option><option value="3">за 3 часа</option><option value="4">за 4 часа</option></select></div></div><div class="form-group"><label for="call_frequency" class="col-sm-5 control-label">Частота напоминания:</label><div class="col-sm-7"><select name="call_frequency" id="call_frequency" onchange="turn_time_call();"><option  value="0" selected>Нет</option><option value="1">Раз в день</option><option value="2">Раз в день (пн-пт)</option><option value="3">Раз в неделю</option><option value="4">Раз в месяц</option><option value="5">Раз в год</option></select></div></div>';
				  				}
							};		
							call_off.onfocus = function() {
				  				if (this.value == 0) { 
				  					this.className = "call_set";
				  					call_set.innerHTML = '';
				  					this.className = "time_once_call";
				  					time_once_call.innerHTML = '';
				  				}
							};

							function turn_time_call() {
								var call_frequency = $('#call_frequency').val();
								if (call_frequency == 1 || call_frequency == 2) {
									time_once_call.innerHTML = '';
									$('#time_once_call').append('<div class="form-group"><label for="call_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="call_time" id="call_time">{% for i in 10..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..22 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div>');
								} else if (call_frequency == 3) {
									time_once_call.innerHTML = '';
									$('#time_once_call').append('<div class="form-group"><label for="call_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="call_time" id="call_time">{% for i in 10..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..22 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div><div class="form-group"><label for="call_week" class="col-sm-5 control-label">День недели:</label><div class="col-sm-7"><select name="call_week" id="call_week"><option value="1" selected>Понедельник</option><option value="2">Вторник</option><option value="3">Среда</option><option value="4">Четверг</option><option value="5">Пятница</option><option value="6">Суббота</option><option value="7">Воскресенье</option></select></div></div>');
								} else if (call_frequency == 4) {
									time_once_call.innerHTML = '';
									$('#time_once_call').append('<div class="form-group"><label for="call_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="call_time" id="call_time">{% for i in 10..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..22 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div><div class="form-group"><label for="call_day" class="col-sm-5 control-label">Дата:</label><div class="col-sm-7"><select name="call_day" id="call_day"><option value="1" selected>1</option>{% for i in 2..31 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div>');
								} else if (call_frequency == 5) {
									time_once_call.innerHTML = '';
									$('#time_once_call').append('<div class="form-group"><label for="call_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="call_time" id="call_time">{% for i in 10..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..22 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div><div class="form-group"><label for="call_day" class="col-sm-5 control-label">Дата:</label><div class="col-sm-7"><select name="call_day" id="call_day"><option value="1" selected>1</option>{% for i in 2..31 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div><div class="form-group"><label for="call_month" class="col-sm-5 control-label">Месяц:</label><div class="col-sm-7"><select name="call_month" id="call_month"><option value="1" selected>Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select></div></div>');
								}

							};
						</script>