							<center><p><a onclick="$('#email_settings').slideToggle('slow');" href="javascript://">Настройки Email</a></p></center>
								<div id="email_settings" style="display:none">
									<div class="form-group">
										<label for="email_rule" class="col-sm-5 control-label">Оповещать по Email</label>
										<div class="col-sm-7">
											<input type="radio" name="email_rule" id="email_on" value="1">Да
   											<input type="radio" name="email_rule" id="email_off" checked value="0">Нет<Br>
										</div>
									</div>
									<div id="email_set"></div><div id="time_once_email" class="time_once_email"></div>
								</div>	
							<script>
								email_on.onfocus = function() {
				  				if (this.value == 1) { 
				  					this.className = "email_set";
				  					email_set.innerHTML = '<div class="form-group"><label for="email_once" class="col-sm-5 control-label">Напомнить за:</label><div class="col-sm-7"><select name="email_once" id="email_once"><option  value="0" selected>Нет</option><option value="1">за 1 час</option><option value="2">за 2 часа</option><option value="3">за 3 часа</option><option value="4">за 4 часа</option></select></div></div><div class="form-group"><label for="email_frequency" class="col-sm-5 control-label">Частота напоминания:</label><div class="col-sm-7"><select name="email_frequency" id="email_frequency" onchange="turn_time_email();"><option  value="0" selected>Нет</option><option value="1">Раз в день</option><option value="2">Раз в день (пн-пт)</option><option value="3">Раз в неделю</option><option value="4">Раз в месяц</option><option value="5">Раз в год</option></select></div></div>';
				  				}
							};		
							email_off.onfocus = function() {
				  				if (this.value == 0) { 
				  					this.className = "email_set";
				  					email_set.innerHTML = '';
				  					this.className = "time_once_email";
				  					time_once_email.innerHTML = '';
				  				}
							};

							function turn_time_email() {
								var email_frequency = $('#email_frequency').val();
								if (email_frequency == 1 || email_frequency == 2) {
									time_once_email.innerHTML = '';
									$('#time_once_email').append('<div class="form-group"><label for="email_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="email_time" id="email_time">{% for i in 7..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..23 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div>');
								} else if (email_frequency == 3) {
									time_once_email.innerHTML = '';
									$('#time_once_email').append('<div class="form-group"><label for="email_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="email_time" id="email_time">{% for i in 7..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..23 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div><div class="form-group"><label for="email_week" class="col-sm-5 control-label">День недели:</label><div class="col-sm-7"><select name="email_week" id="email_week"><option value="1" selected>Понедельник</option><option value="2">Вторник</option><option value="3">Среда</option><option value="4">Четверг</option><option value="5">Пятница</option><option value="6">Суббота</option><option value="7">Воскресенье</option></select></div></div>');
								} else if (email_frequency == 4) {
									time_once_email.innerHTML = '';
									$('#time_once_email').append('<div class="form-group"><label for="email_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="email_time" id="email_time">{% for i in 7..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..23 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div><div class="form-group"><label for="email_day" class="col-sm-5 control-label">Дата:</label><div class="col-sm-7"><select name="email_day" id="email_day"><option value="1" selected>1</option>{% for i in 2..31 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div>');
								} else if (email_frequency == 5) {
									time_once_email.innerHTML = '';
									$('#time_once_email').append('<div class="form-group"><label for="email_time" class="col-sm-5 control-label">Время оповещения:</label><div class="col-sm-7"><select name="email_time" id="email_time">{% for i in 7..11 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}<option value="12" selected>12:00</option>{% for i in 13..23 %}<option value="{{ i }}">{{ i }}:00</option>{% endfor %}</select></div></div><div class="form-group"><label for="email_day" class="col-sm-5 control-label">Дата:</label><div class="col-sm-7"><select name="email_day" id="email_day"><option value="1" selected>1</option>{% for i in 2..31 %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></div></div><div class="form-group"><label for="email_month" class="col-sm-5 control-label">Месяц:</label><div class="col-sm-7"><select name="email_month" id="email_month"><option value="1" selected>Январь</option><option value="2">Февраль</option><option value="3">Март</option><option value="4">Апрель</option><option value="5">Май</option><option value="6">Июнь</option><option value="7">Июль</option><option value="8">Август</option><option value="9">Сентябрь</option><option value="10">Октябрь</option><option value="11">Ноябрь</option><option value="12">Декабрь</option></select></div></div>');
								}

							};
						</script>