<meta charset="utf-8">
<title>Можно еще минутку?</title>
<script type="text/javascript" src="{{asset('js/jquery-3.1.0.js')}}"></script>
<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/personal_style.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('css/fonts_style.css')}}">
