<p>На районе новый чувак!</p>
<p>Зовут: {%if name == true%}{{name}} {%endif%}{%if surname == true%}{{surname}}</p>{%endif%}
{%if number == true%}<p>Телефон: {{number}}</p>{%endif%}
<p>Email: {{email}}</p>
<p>Дата регистрации: {{date}}</p>