<meta charset="utf-8">
<title>ПИНОК</title>
<script type="text/javascript" src="{{asset('templates/default/js/jquery-3.1.0.js')}}"></script>
<script type="text/javascript" src="{{asset('templates/default/js/bootstrap.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset('templates/default/css/bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('templates/default/css/personal_style.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('templates/default/css/fonts_style.css')}}">
